@font-face {
	font-family: 'NSG SB'; /* 폰트 패밀리 이름 주기*/
	src: url('../../font/NotoSansKR-Black.otf'); /*폰트 파일 주소*/
}

@font-face {
	font-family: 'NSG B'; /* 폰트 패밀리 이름 주기*/
	src: url('../../font/NotoSansKR-Bold.otf'); /*폰트 파일 주소*/
}

@font-face {
	font-family: 'NSG L'; /* 폰트 패밀리 이름 주기*/
	src: url('../../font/NotoSansKR-Light.otf'); /*폰트 파일 주소*/
}

@font-face {
	font-family: 'NSG M'; /* 폰트 패밀리 이름 주기*/
	src: url('../../font/NotoSansKR-Medium.otf'); /*폰트 파일 주소*/
}

@font-face {
	font-family: 'NSG R'; /* 폰트 패밀리 이름 주기*/
	src: url('../../font/NotoSansKR-Regular.otf'); /*폰트 파일 주소*/
}

@font-face {
	font-family: 'NSG T'; /* 폰트 패밀리 이름 주기*/
	src: url('../../font/NotoSansKR-Thin.otf'); /*폰트 파일 주소*/
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'),
	  local('MaterialIcons-Regular'),
	  url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
	  url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
	  url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

.card {background-color: #fff; box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2); border-radius: 5px;}
.card-blue {background-color: #2f36bb; box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2); border-radius: 5px;}

.text-overflow {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.text-overflow-line2 {overflow: hidden; text-overflow: ellipsis; white-space: normal; word-wrap: break-word; display: -webkit-box !important; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.text-overflow-line3 {overflow: hidden; text-overflow: ellipsis; white-space: normal; word-wrap: break-word; display: -webkit-box !important; -webkit-line-clamp: 3; -webkit-box-orient: vertical;}

.o-hidden {overflow: hidden;}
.o-auto {overflow: auto;}
.o-visible {overflow: visible;}

.oy-hidden {overflow-y: hidden;}
.oy-auto {overflow-y: auto;}
.oy-visible {overflow-y: visible;}

.ox-hidden {overflow-x: hidden;}
.ox-auto {overflow-x: auto;}
.ox-visible {overflow-x: visible;}

.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}

.f-bold {font-family: 'NSG B' !important;}
.f-light {font-family: 'NSG L' !important;}
.f-medium {font-family: 'NSG M' !important;}
.f-regular {font-family: 'NSG R' !important;}
.f-thin {font-family: 'NSG T' !important;}

.f-os-b {font-family: 'OS B' !important;}
.f-os-l {font-family: 'OS L' !important;}
.f-os-eb {font-family: 'OS EB' !important;}
.f-os-r {font-family: 'OS R' !important;}
.f-os-sb {font-family: 'OS SB' !important;}

.position-relative {position: relative;}
.position-absolute {position: absolute;}
.position-fixed {position: fixed;}

.position-l0 {left:0;}
.position-l5 {left:5px;}
.position-l10 {left:10px;}
.position-l15 {left:15px;}
.position-l20 {left:20px;}
.position-l25 {left:25px;}
.position-l30 {left:30px;}
.position-per-l50 {left:50%;}

.position-r0 {right:0;}
.position-r5 {right:5px;}
.position-r10 {right:10px;}
.position-r15 {right:15px;}
.position-r20 {right:20px;}
.position-r25 {right:25px;}
.position-r30 {right:30px;}
.position-per-r50 {right:50%;}

.position-t0 {top:0;}
.position-t5 {top:5px;}
.position-t10 {top:10px;}
.position-t15 {top:15px;}
.position-t20 {top:20px;}
.position-t25 {top:25px;}
.position-t30 {top:30px;}
.position-per-t50 {top:50%;}

.position-b0 {bottom:0;}
.position-b5 {bottom:5px;}
.position-b10 {bottom:10px;}
.position-b15 {bottom:15px;}
.position-b20 {bottom:20px;}
.position-b25 {bottom:25px;}
.position-b30 {bottom:30px;}
.position-per-b50 {bottom:50%;}

.space-nw {white-space: nowrap;}

.f-size58 {font-size:58px;}
.f-size48 {font-size:48px;}
.f-size45 {font-size:45px;}
.f-size44 {font-size:44px;}
.f-size40 {font-size:40px;}
.f-size37 {font-size:37px;}
.f-size36 {font-size:36px;}
.f-size34 {font-size:34px;}
.f-size32 {font-size:32px;}
.f-size28 {font-size:28px;}
.f-size26 {font-size:26px;}
.f-size24 {font-size:24px;}
.f-size22 {font-size:22px;}
.f-size20 {font-size:20px;}
.f-size19 {font-size:19px;}
.f-size18 {font-size:18px;}
.f-size16 {font-size:16px;} 
.f-size15 {font-size:15px;}
.f-size14 {font-size:14px;}
.f-size13 {font-size:13px;}
.f-size12 {font-size:12px;}
.f-size10 {font-size:10px;}
.f-size0 {font-size:0px;}

.f-underline {text-decoration: underline;}
.f-linethrough {text-decoration: line-through;}

.c-base{color:#000000;}
.c-white {color:#fff;}
.c-black {color:#000;}
.c-blue{color:#2f36bb}
.c-green {color:#5CA4B1;}
.c-red {color:#ff0000;}
.c-dark {color:#666666;}
.c-3 {color: #5C5C5C;}
.c-6 {color: #A8A8A8;}
.c-ae {color:#aeaeae;}
.c-9 {color:#BFBFBF;}
.c-yellow {color:#fec926;}



.d-none {display:none !important;}
.d-inline-block {display: inline-block;}
.d-block {display: block;}
.d-inline {display:inline;}
.d-flex {display:flex;}
.d-flex-wrap {flex-wrap: wrap;}
.d-flex-jc {justify-content: center;}
.d-flex-sb {justify-content: space-between;}
.d-flex-ai {align-items: center;}
.d-m-standard {width:360px; padding:0 16px; margin:auto; box-sizing:border-box;}
.d-p-standard {width:360px; padding:0 calc((100% - 360px) / 2);}
.d-h-full {height:100%;}
.d-w-full {width:100%;}
.d-w-half {width:50%;}

.bg-white {background-color:#fff;}
.bg-light {background-color:#FAFAFB;}
.bg-gray {background-color: #f4f4f4;}
.bg-blue{background-color:#2f36bb}

.fload-right {float: right !important;}
.fload-left {float: left !important;}

.vertical-t {vertical-align: top;}
.vertical-m {vertical-align: middle;}
.vertical-b {vertical-align: bottom;}

.margin-auto{margin:auto;}
.margin0 {margin:0px;}
.margin5 {margin:5px;}
.margin10 {margin:10px;}
.margin15 {margin:15px;}
.margin20 {margin:20px;}
.margin25 {margin:25px;}
.margin30 {margin:30px;}
.margin35 {margin:35px;}
.margin40 {margin:40px;}
.margin50 {margin:50px;}
.margin60 {margin:60px;}
.margin65 {margin:65px;}
.margin70 {margin:70px;}
.margin80 {margin:80px;}
.margin90 {margin:90px;}
.margin100 {margin:100px;}

.mb-auto {margin-bottom: auto;}
.mb-0 {margin-bottom:0px;}
.mb-5 {margin-bottom:5px;}
.mb-10 {margin-bottom:10px;}
.mb-15 {margin-bottom:15px;}
.mb-20 {margin-bottom:20px;}
.mb-25 {margin-bottom:25px;}
.mb-30 {margin-bottom:30px;}
.mb-35 {margin-bottom:35px;}
.mb-40 {margin-bottom:40px;}
.mb-50 {margin-bottom:50px;}
.mb-60 {margin-bottom:60px;}
.mb-65 {margin-bottom:65px;}
.mb-70 {margin-bottom:70px;}
.mb-80 {margin-bottom:80px;}
.mb-90 {margin-bottom:90px;}
.mb-100 {margin-bottom:100px;}

.mt-auto {margin-top:auto;}
.mt-0 {margin-top:0px;}
.mt-5 {margin-top:5px;}
.mt-10 {margin-top:10px;}
.mt-15 {margin-top:15px;}
.mt-20 {margin-top:20px;}
.mt-25 {margin-top:25px;}
.mt-30 {margin-top:30px;}
.mt-35 {margin-top:35px;}
.mt-40 {margin-top:40px;}
.mt-45 {margin-top:45px;}
.mt-50 {margin-top:50px;}
.mt-60 {margin-top:60px;}
.mt-65 {margin-top:65px;}
.mt-70 {margin-top:70px;}
.mt-80 {margin-top:80px;}
.mt-90 {margin-top:90px;}
.mt-100 {margin-top:100px;}

.ml-auto {margin-left:auto;}
.ml-0 {margin-left:0px;}
.ml-5 {margin-left:5px;}
.ml-10 {margin-left:10px;}
.ml-15 {margin-left:15px;}
.ml-20 {margin-left:20px;}
.ml-25 {margin-left:25px;}
.ml-30 {margin-left:30px;}
.ml-35 {margin-left:35px;}
.ml-40 {margin-left:40px;}
.ml-50 {margin-left:50px;}
.ml-60 {margin-left:60px;}
.ml-65 {margin-left:65px;}
.ml-70 {margin-left:70px;}
.ml-80 {margin-left:80px;}
.ml-90 {margin-left:90px;}
.ml-100 {margin-left:100px;}

.mr-auto {margin-right:auto;}
.mr-0 {margin-right:0px;}
.mr-5 {margin-right:5px;}
.mr-10 {margin-right:10px;}
.mr-15 {margin-right:15px;}
.mr-20 {margin-right:20px;}
.mr-25 {margin-right:25px;}
.mr-30 {margin-right:30px;}
.mr-32 {margin-right:32px;}
.mr-35 {margin-right:35px;}
.mr-40 {margin-right:40px;}
.mr-50 {margin-right:50px;}
.mr-60 {margin-right:60px;}
.mr-65 {margin-right:65px;}
.mr-70 {margin-right:70px;}
.mr-80 {margin-right:80px;}
.mr-90 {margin-right:90px;}
.mr-100 {margin-right:100px;}


.padding0 {padding:0px;}
.padding5 {padding:5px;}
.padding10 {padding:10px;}
.padding15 {padding:15px;}
.padding20 {padding:20px;}
.padding25 {padding:25px;}
.padding30 {padding:30px;}
.padding35 {padding:35px;}
.padding40 {padding:40px;}
.padding50 {padding:50px;}
.padding60 {padding:60px;}
.padding65 {padding:65px;}
.padding70 {padding:70px;}
.padding80 {padding:80px;}
.padding90 {padding:90px;}
.padding100 {padding:100px;}

.pb-0 {padding-bottom:0px;}
.pb-5 {padding-bottom:5px;}
.pb-10 {padding-bottom:10px;}
.pb-15 {padding-bottom:15px;}
.pb-20 {padding-bottom:20px;}
.pb-25 {padding-bottom:25px;}
.pb-30 {padding-bottom:30px;}
.pb-35 {padding-bottom:35px;}
.pb-40 {padding-bottom:40px;}
.pb-50 {padding-bottom:50px;}
.pb-60 {padding-bottom:60px;}
.pb-65 {padding-bottom:65px;}
.pb-70 {padding-bottom:70px;}
.pb-80 {padding-bottom:80px;}
.pb-90 {padding-bottom:90px;}
.pb-100 {padding-bottom:100px;}

.pt-0 {padding-top:0px;}
.pt-5 {padding-top:5px;}
.pt-10 {padding-top:10px;}
.pt-15 {padding-top:15px;}
.pt-20 {padding-top:20px;}
.pt-25 {padding-top:25px;}
.pt-30 {padding-top:30px;}
.pt-35 {padding-top:35px;}
.pt-40 {padding-top:40px;}
.pt-50 {padding-top:50px;}
.pt-60 {padding-top:60px;}
.pt-65 {padding-top:65px;}
.pt-70 {padding-top:70px;}
.pt-80 {padding-top:80px;}
.pt-90 {padding-top:90px;}
.pt-100 {padding-top:100px;}

.pl-0 {padding-left:0px;}
.pl-5 {padding-left:5px;}
.pl-10 {padding-left:10px;}
.pl-15 {padding-left:15px;}
.pl-20 {padding-left:20px;}
.pl-25 {padding-left:25px;}
.pl-30 {padding-left:30px;}
.pl-35 {padding-left:35px;}
.pl-40 {padding-left:40px;}
.pl-50 {padding-left:50px;}
.pl-60 {padding-left:60px;}
.pl-65 {padding-left:65px;}
.pl-70 {padding-left:70px;}
.pl-80 {padding-left:80px;}
.pl-90 {padding-left:90px;}
.pl-100 {padding-left:100px;}

.pr-0 {padding-right:0px;}
.pr-5 {padding-right:5px;}
.pr-10 {padding-right:10px;}
.pr-15 {padding-right:15px;}
.pr-20 {padding-right:20px;}
.pr-25 {padding-right:25px;}
.pr-30 {padding-right:30px;}
.pr-35 {padding-right:35px;}
.pr-40 {padding-right:40px;}
.pr-50 {padding-right:50px;}
.pr-60 {padding-right:60px;}
.pr-65 {padding-right:65px;}
.pr-70 {padding-right:70px;}
.pr-80 {padding-right:80px;}
.pr-90 {padding-right:90px;}
.pr-100 {padding-right:100px;}

hr {margin-top: 20px; margin-bottom: 20px; background-color:#ececec; width: 100%; height:1px; box-shadow: none; border:none}
hr.blue {background-color:#2f36bb;}
hr.white {background-color:#fff; }

.hide_txt {
    position: absolute;
    width: 1px;
    height: 1px;
	clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
}
.clearfix:after{content: ''; display:block; clear:both;}

@media(min-width:768px){
	.mobile_render{display:none;}
}

@media(min-width:768px) and (max-width:1023px){
	.tablet_render{display:block;}
}

@media (max-width:1023px){
	.desktop_render{
		display:none;
	}
}

@media(min-width:1024px){
	.tablet_render{display:none;}
}

@media(max-width:767px) {
	.d-m-standard {width:90%; margin-left:5%; margin-right:5%;}
	.d-p-standard {width:90%; padding-left:5%; padding-right:5%;}
	.d-w-half {width:50%; padding-left:5%; padding-right:5%; display:inline-block;}
	.mobile_render{display:block;}
	.tablet_render{display:none;}
}

@media(min-width:1024px) and (max-width:1599px){
	.desktop_render{
		display:block;
	}
}

@media (min-width:1600px){
	.desktop_render{
		display:none;
	}
}

